/* Gaya Umum */
body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #212121;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Input dan Tombol */
.searchinputjup {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    font-size: 16px;
    width: 80%;
    margin: 10px auto;
    display: block;
}

button {
    padding: 5px 10px;
    margin-left: 5px;
    border: outset black 2px;
    border-radius: 4px;
    background-color: skyblue;
    color: white;
    cursor: pointer;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

button:hover:not(:disabled) {
    background-color: #4e432b;
}

/* Transaksi */
.transaction {
    border: 1px solid #eee;
    background: #f9f9f9;
    padding: 15px;
    margin: 10px auto;
    border-radius: 5px;
    text-align: left;
    width: 90%;
    max-width: 600px;
}

.transaction p {
    margin: 5px 0;
    word-break: break-all;
}

.transaction a {
    color: #007bff;
    text-decoration: underline;
}

.transaction a:hover {
    color: #0056b3;
}

/* Detail */
.detailstx {
    color: #f2bb19;
    font-family: Monospace;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #00000084;
}

/* Mempool */
#mempoolContainer {
    padding: 20px;
    background-color: #f9f9f9;
}

/* Footer */
footer {
    margin: 50px 0;
}

footer p {
    color: black;
    font-size: 12px;
}

/* Panjang Text */
.long-text {
    word-break: break-all;
    font-family: monospace;
    font-size: 0.9em;
}

/* Pagination */
#pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
